# >> Help Wanted Configuration <<
# ===========================================
# Chance to atract villager without attractors (higher number is less likely)
chance=64

# Blocks that will attract villagers faster
attractor=block.minecraft.emerald_block
attractor=block.minecraft.gold_block
attractor=block.minecraft.diamond_block
attractor=block.minecraft.copper_block
attractor=block.minecraft.iron_block
attractor=block.minecraft.redstone_block
attractor=block.minecraft.lapis_block
